PicoPlaca.Web/PicoPlaca.Web/Service References/ModPicoPlacaServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="PicoPlaca.DistributedServices.Services" />
  <xs:element name="ConsultarHorarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="PicoPlaca.DistributedServices.Services" minOccurs="0" name="datos" nillable="true" type="q1:PicoPlacaDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarHorariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarHorariosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>